# Change File Name to config.env

API_ID = "15266721"
API_HASH = "eb52dfa22ce23caa4c3acb7636f78635"
BOT_TOKEN = "1953662837:AAF0tnmedJN-MCjIReOnlSWfwoMCIa39sWE"
TO_CHATS = "-1686594925"
FROM_CHATS = "-1001706470228"
ADVANCE_CONFIG = ""
TELEGRAM_SESSION = "BQCotYVmVlUaLlpkBbW6IgnMxDO8REuMDG_5guQV22nb0jyY8Hz4-38rMKSQFL0eGwH7lYyzK144GHKLqm-6Tdx_puGgbdyDWBL1_Qzpd0VTjAixfwfBd-tSphCVimc_uWYjtI-jhwSa07DM2NKFC1c-beoxhiwyLrTk7KiRoIVgsLOq-GqOGFTqJ_BQgUeZOlc8w2GI8ROCOZng_t8gWzqK9VTvzXzx9rEXWEHCYG7ySVshTetwj4oS87XGFqBU7N_gYAq27DElpgOpx3oFO-pPxRrg3vTvCOEOFrRuiJxCDYpOjas8Kcl8drJ_AhEiXK7CQjYqfzJaC7bVFxGhw9SXdK1j9AA"
